@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --color-baige: #f4eedf;
  --color-orange: #f47238;
  --color-orange-light: #ffad48;
  --font-playfair: "Playfair Display", serif;
  --font-noto: "Noto Sans", sans-serif;
  --text-color: #1a1a1a;
  --code-bg: #1b1b1b;
}

body{
    padding: 1rem 2rem 1rem 2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;

}
td{
    border: 1rem solid black;
}