@import "tailwindcss";

:root{
  --primary-color: #244724;
  --dark-color: #1a1a1a;
  --secondary-color: #dced9a;
  --dropdown-bg: #1e1e1e;
  --dropdown-border: #333;
  --dropdown-hover: #2c2c2c;

  --bg-color: #E5E5E5;

  --btn-bg-1: #4B5563;
  --btn-bg-2: #E5E7EB;
  --btn-color-1: #1F2937;
  --btn-color-2: #f9fafb;
  --btn-color-3: var(--primary-color);
  --btn-color-4: var(--secondary-color);

  --search-bg: #f9fafb;
  --search-border: #4B5563;

  --border-color: #4B5563;



    --text-color-main: #ffffff;
    --text-color-gray: #9ca3af;
    --text-color-gray-dark: #333;
}