@import "tailwindcss";

:root{
  --primary-color: #244724;
  --dark-color: #1a1a1a;
  --secondary-color: #dced9a;
  --dropdown-bg: #1e1e1e;
  --dropdown-border: #333;
  --dropdown-hover: #2c2c2c;
  --text-color-main: #ffffff;

  --btn-bg-1: #4B5563;
  --btn-bg-2: #E5E7EB;
  --btn-color-1: #1F2937;
  --btn-color-2: #f9fafb;

  --search-bg: #f9fafb;
  --search-border: #4B5563;
}
